<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qavan.viewpagerlayoutmanagerx">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.qavan.viewpagerlayoutmanagerx.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.circle.CircleLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.circlescale.CircleScaleLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.scale.ScaleLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.gallery.GalleryLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.carousel.CarouselLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
        <activity
            android:name="com.qavan.viewpagerlayoutmanagerx.rotate.RotateLayoutActivity"
            android:parentActivityName="com.qavan.viewpagerlayoutmanagerx.MainActivity" />
    </application>

</manifest>